.App {
    text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Ubuntu:wght@300&display=swap");
body {
    font-family: "Cinzel", serif;
    height: 100vh;
    background-color: #000000;
}

h1 {
    font-size: 50px;
}
input {
    height: 30px;
    padding-left: 25px;
    background-color: #000000;
    border: 0.05px solid #2a2a2a;
}

h1,
h2,
p {
    color: white;
}
