.App {
    text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond:ital@1&family=Raleway:wght@300&family=Ubuntu:wght@300&display=swap");
body {
    height: 100vh;
    background-color: #000000;
}

h1 {
    font-size: 50px;
}

h1,
h2 {
    font-family: "Cinzel", serif;
}

p {
    font-family: "Cormorant Garamond", serif;
    font-family: "Raleway", sans-serif;
}

h1,
h2,
p {
    color: white;
}

input {
    height: 30px;
    padding-left: 25px;
    background-color: #000000;
    border: 0.05px solid #2a2a2a;
}
